:root {
  /* color */
  --gray-color: #EEF0F3;
  --dark-gray-color: #9595B5;
  --light-gray-color: #DDDFE2;
  --light-pink-color: #FF5B72;
  --dark-pink-color: #F0566B;
  --white-color: #FFF;
  --black-color: #000;
  --padding-size-micro: 4px;
  --padding-size-small: 8px;
  --padding-size-mid: 16px;
  --padding-size-large: 60px;
  --border-thick: 1px;
  --input-width: 240px;
  --font-huge-size:36px;
  --font-large-size:20px;
  --font-middle-size:16px;
  --font-small-size:12px;
}

* {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  color: none;
  background-color: transparent;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

header .firstHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--light-pink-color);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: var(--padding-size-small);
}

header .firstHeader .homeAndFindBand {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .firstHeader .homeAndFindBand .home {
  border: solid var(--white-color);
  padding: 0 var(--padding-size-small);
  border-radius: 20% / 50%;
  font-size: var(--font-large-size);
  color: var(--white-color);
  font-family: 'Jua', sans-serif;
  margin: auto;
}

header .firstHeader .homeAndFindBand .findBand {
  border: solid var(--border-thick) var(--dark-pink-color);
  border-radius: 8% / 50%;
  background-color: var(--dark-pink-color);
}

header .firstHeader .homeAndFindBand .findBand :focus {
  outline: none;
}

header .firstHeader .homeAndFindBand .findBand .finder {
  font-size: var(--font-small-size);
  margin: 0px var(--padding-size-small);
  width: var(--input-width);
  border: none;
  color: var(--light-gray-color);
}

header .firstHeader .homeAndFindBand .findBand button {
  margin: var(--padding-size-small);
  color: var(--light-gray-color);
}

header .firstHeader .icons {
  margin-right: var(--padding-size-mid);
}

header .firstHeader .icons button {
  color: var(--white-color);
  padding: var(--padding-size-small);
  font-size: var(--font-large-size);
}

header .firstHeader .icons .newTextFeed, header .firstHeader .icons .find {
  font-size: var(--font-small-size);
}

header .firstHeader .icons button:hover {
  background-color: var(--dark-pink-color);
}

header .firstHeader .icons span {
  color: var(--dark-pink-color);
  font-weight: bold;
}

header .secondHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-pink-color);
  padding: var(--padding-size-small);
}

header .secondHeader .secondHeaderElement {
  font-size: 15px;
  color: var(--gray-color);
  padding: 0px var(--padding-size-mid);
}

header .secondHeader .secondHeaderElement:hover {
  color: var(--white-color);
  font-weight: bold;
}

header .secondHeader .secondHeaderElement:focus {
  color: var(--white-color);
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--gray-color);
  height: auto;
}

.container > * {
  margin: var(--padding-size-mid) var(--padding-size-small);
}

.container .mainProfile {
  border: none;
  position: -webkit-sticky;
  position: sticky;
  top: 103px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .mainProfile .bandName {
  font-size: var(--font-large-size);
  font-weight: bold;
  padding: var(--padding-size-small) 0px;
}

.container .mainProfile .memberControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .mainProfile .memberControl .memberCnt {
  padding: var(--padding-size-micro) 0px var(--padding-size-micro);
}

.container .mainProfile .memberControl span {
  padding: var(--padding-size-micro) 0px;
}

.container .mainProfile .memberControl button {
  padding: var(--padding-size-micro);
  color: var(--light-pink-color);
}

.container .mainProfile .caution {
  font-size: var(--font-small-size);
  color: var(--dark-gray-color);
  padding: var(--padding-size-small) 0px;
}

.container .mainProfile hr {
  width: 200px;
  color: var(--light-gray-color);
  margin-bottom: var(--padding-size-small);
}

.container .mainProfile button {
  color: var(--dark-gray-color);
}

.container .mainProfile button span {
  font-weight: lighter;
}

.container .mainProfile button span:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.container .postingPage {
  width: 35%;
}

.container .postingPage > * {
  margin: var(--padding-size-mid) 0px;
  -webkit-box-shadow: 1px 1px var(--light-gray-color);
          box-shadow: 1px 1px var(--light-gray-color);
}

.container .postingPage .findPost {
  background-color: var(--white-color);
  margin: 0px;
  padding: var(--padding-size-small);
}

.container .postingPage .findPost :focus {
  outline: none;
}

.container .postingPage .findPost input {
  width: 90%;
  border: none;
  color: var(--dark-gray-color);
  font-size: var(--font-middle-size);
  margin: 0px var(--padding-size-small);
}

.container .postingPage .findPost button {
  color: var(--dark-gray-color);
}

.container .postingPage .newPost {
  background-color: var(--white-color);
}

.container .postingPage .newPost .makeNewPost {
  color: var(--dark-gray-color);
  padding-bottom: var(--padding-size-large);
  width: 90%;
  margin: var(--padding-size-small);
  font-size: var(--font-middle-size);
  text-align: left;
}

.container .postingPage .newPost .icons * {
  color: var(--dark-gray-color);
  margin-inline: var(--padding-size-small);
  margin-bottom: var(--padding-size-small);
  font-size: 20px;
}

.container .postingPage .postedPages > * {
  margin-bottom: var(--padding-size-mid);
  background-color: var(--white-color);
}

.container .postingPage .postedPages .mainPost .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .postingPage .postedPages .mainPost .header .frontHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--padding-size-small);
  margin-top: var(--padding-size-mid);
}

.container .postingPage .postedPages .mainPost .header .frontHeader #userProfile {
  font-size: var(--font-huge-size);
  color: var(--light-gray-color);
}

.container .postingPage .postedPages .mainPost .header .frontHeader .info {
  margin: 0px var(--padding-size-small);
}

.container .postingPage .postedPages .mainPost .header .frontHeader .info .timeRecord {
  color: var(--dark-gray-color);
  font-size: var(--font-small-size);
}

.container .postingPage .postedPages .mainPost .header .endHeader {
  color: var(--light-gray-color);
  padding: var(--padding-size-mid);
}

.container .postingPage .postedPages .mainPost .header .endHeader button {
  font-weight: lighter;
}

.container .postingPage .postedPages .mainPost .mainFile {
  text-align: center;
  margin: var(--padding-size-mid);
  border: solid var(--dark-gray-color) 1px;
}

.container .postingPage .postedPages .mainPost .mainFile video {
  width: 100%;
  height: 100%;
}

.container .postingPage .postedPages .mainPost .view {
  text-align: right;
}

.container .postingPage .postedPages .mainPost .view i {
  font-size: var(--font-small-size);
  color: var(--dark-gray-color);
  margin-right: var(--padding-size-mid);
  margin-bottom: var(--padding-size-mid);
}

.container .postingPage .postedPages hr {
  background-color: var(--light-gray-color);
}

.container .postingPage .postedPages .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .postingPage .postedPages .action button {
  margin: var(--padding-size-mid) 0px;
  color: var(--dark-gray-color);
}

.container .postingPage .postedPages .action span {
  color: var(--black-color);
}

.container .postingPage .postedPages .action span:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.container .utils {
  position: -webkit-sticky;
  position: sticky;
  top: 103px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .utils > * {
  margin-bottom: var(--padding-size-mid);
  background-color: var(--white-color);
}

.container .utils .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .utils .header > * {
  padding: var(--padding-size-small) var(--padding-size-mid);
  font-size: var(--font-middle-size);
}

.container .utils .header .utilName {
  font-weight: bold;
}

.container .utils .header .utilOption {
  color: var(--dark-gray-color);
}

.container .utils .header .utilOption:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container .utils .chatting .header .utilOption {
  color: var(--light-pink-color);
}

.container .utils .chatting .utilToDo .startGroupCall {
  text-align: center;
  margin: var(--padding-size-small);
}

.container .utils .chatting .utilToDo .startGroupCall button {
  padding: var(--padding-size-small) var(--padding-size-large);
  background-color: var(--gray-color);
  border-radius: 8% / 50%;
  color: var(--black-color);
}

.container .utils .chatting .utilToDo .bandinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--padding-size-small);
}

.container .utils .chatting .utilToDo .bandinfo .imgBox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.container .utils .chatting .utilToDo .bandinfo .imgBox .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .utils .chatting .utilToDo .bandinfo .information {
  padding: 0px var(--padding-size-small);
}

.container .utils .chatting .utilToDo .bandinfo .information .bandName {
  font-weight: bold;
  font-size: var(--font-small-size);
}

.container .utils .chatting .utilToDo .bandinfo .information .message {
  color: var(--dark-gray-color);
  font-size: var(--font-small-size);
}

.container .utils .chatting .utilToDo .bandinfo:hover {
  cursor: pointer;
}

.container .utils .chatting .utilToDo .bandinfo:hover .bandName {
  text-decoration: underline;
}

.container .utils .files .utilToDo {
  padding-bottom: var(--padding-size-small);
}

.container .utils .files .utilToDo > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--padding-size-mid);
  margin-bottom: var(--padding-size-mid);
}

.container .utils .files .utilToDo > * button {
  color: var(--dark-pink-color);
  font-size: var(--font-large-size);
}

.container .utils .files .utilToDo > * .fileText {
  padding: 0px var(--padding-size-small);
  font-size: var(--font-small-size);
}

.container .utils .files .utilToDo > * .fileText .fileName {
  font-weight: bold;
}

.container .utils .files .utilToDo > * .fileText .fileName:hover, .container .utils .files .utilToDo > * .fileText .seeOrigin:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container .utils .images .utilToDo {
  padding: var(--padding-size-small);
}

.container .utils .images .utilToDo img {
  width: 70px;
  height: 70px;
}
/*# sourceMappingURL=band.css.map */